<!-- Main Dashboard Content -->
<div class="container mt-5 pt-5">
  <div class="row">
    <!-- Sidebar/Menu -->
    <ng-container *ngIf="role === 'Admin'">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active"
            >Dashboard</a
          >
          <a
            class="list-group-item list-group-item-action"
            routerLink="/inventory"
            >Inventory</a
          >
          <a
            class="list-group-item list-group-item-action"
            routerLink="/distribution"
            >Distribution</a
          >
          <a
            class="list-group-item list-group-item-action"
            routerLink="/reports"
            >Reports</a
          >
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="role === 'User'">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action active"
            >Dashboard</a
          >
          <a
            class="list-group-item list-group-item-action"
            routerLink="/bookingslot"
            >BookingSlot</a
          >
          <a
            class="list-group-item list-group-item-action"
            routerLink="/reports"
            >Reports</a
          >
        </div>
      </div>
    </ng-container>

    <!-- Main Content Area -->
    <div class="col-md-9">
      <ng-container *ngIf="role === 'Admin'">
        <!-- Additional content, tables, charts, etc. can be added here -->
        <h3>Registered Users</h3>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Email Id</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.userName }}</td>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-container>
      <ng-container *ngIf="role === 'User'">
        <div class="col-md-9">
          <h3>Vaccine Benefits</h3>
          <p>
            Vaccines have played a pivotal role in modern healthcare. Their
            benefits are wide-reaching and have ensured the well-being of
            countless individuals.
          </p>

          <h4>1. Disease Prevention</h4>
          <p>
            The primary benefit of vaccination is that it prevents disease.
            Vaccines protect against severe infections that can result in
            hospitalization and even death.
          </p>

          <h4>2. Cost-Effective Healthcare</h4>
          <p>
            Preventing diseases through vaccination is more cost-effective than
            treatments. It reduces the overall cost burden on the healthcare
            system and on families.
          </p>

          <h4>3. Community Immunity</h4>
          <p>
            Vaccines create a line of defense in the community, ensuring that
            even those who cannot be vaccinated directly get some protection
            because the spread of contagious disease is contained.
          </p>

          <h4>4. Safe Travels</h4>
          <p>
            Vaccination provides a shield against many diseases that might be
            common in other countries, ensuring travelers' safety.
          </p>

          <h4>5. Progress Towards Eradication</h4>
          <p>
            Consistent vaccination efforts can lead to the complete eradication
            of diseases. A classic example of this success is the eradication of
            smallpox.
          </p>

          <hr />
          <!-- Horizontal line to separate content -->

          <p class="bold-action">
            Ready to get vaccinated?
            <a routerLink="/bookingslot" class="action-link"
              >Book your vaccine slot now!</a
            >.
          </p>
          <p>
            For detailed insights,
            <a routerLink="/reports" class="action-link"
              >click here to view the reports</a
            >.
          </p>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">© 2023 Vaccine Management Corp.</span>
  </div>
</footer>
